ArquitecturaModelado/WebSite/Service References/Zap.Facade.Client/Auth2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZAP.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZAP.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthInformationModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthInformationModel" nillable="true" type="tns:AuthInformationModel" />
  <xs:complexType name="BaseModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
</xs:schema>